.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Adjust based on your preference */
    padding: 0;
    margin: 0;
  }
  
  .mapComponent {
    width: 100%; /* Full width of the container */
    height: 80%; /* Adjust based on your preference */
  }
  